<div class="button-container">
  <button class="btn btn-primary" (click)="openForm()">Add Contact</button>
</div>

<div *ngIf="showForm()" class="modal-container">
  <div class="modal-backdrop" (click)="closeForm()"></div>

  <div class="modal-box">
    <h3>{{ editIndex() !== null ? 'Edit Contact' : 'Add Contact' }}</h3>

    <app-add-contact
      [editContactData]="selectedContact()"
      (contactAdded)="addContactToParent($event)">
    </app-add-contact>
  </div>
</div>

<hr>

<h3>Contact List</h3>
<table class="table table-bordered" *ngIf="contacts().length > 0">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let c of contacts(); let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ c.name }}</td>
      <td>{{ c.phone }}</td>
      <td>{{ c.email }}</td>
      <td>
        <button class="btn btn-success btn-sm me-2" (click)="editContact(c, i)">
          Edit
        </button>
        <button class="btn btn-danger btn-sm" (click)="deleteContact(i)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
